{% extends 'pagebase.html' %}

{% block main %}
 <div>
<h1> Welcome to the RPIRoomies home page </h1>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" target="_blank">Login with Facebook</a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}

