{% extends 'pagebase.html' %}

{% block main %}
	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Welcome To <b>RPIRoomies</b></h1>
					{% if user and not user.is_anonymous %}
          <h3><b> <a href="/find">Click here</b></a> to find roommates.</h3>
					{% else %}
					<h3>Log in to get started.</h3>
					{% endif %}

					<br>
	    		</div>
	    		
	    		<div class="col-lg-2">
	    			<h5>Amazing Results</h5>
	    			<p>"RPIRoomies can really change how we think about roommates.".</p>
	    			<img class="hidden-xs hidden-sm hidden-md" src="/static/img/arrow1.png">
	    		</div>
	    		<div class="col-lg-8">
	    			<img class="img-responsive" src="/static/img/crappy-roomies-wireframe.png" alt="">
	    		</div>
	    		<div class="col-lg-2">
	    			<br>
	    			<img class="hidden-xs hidden-sm hidden-md" src="/static/img/arrow2.png">
	    			<h5>Awesome Design</h5>
	    			<p>Simple, sleek interface.</p>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Designed To Excel</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="/static/img/intro01.png" alt="">
					<h3>Community</h3>
					<p>Read testimonials from our beta testers.</p>
				</div>
				<div class="col-lg-4">
					<img src="/static/img/intro02.png" alt="">
					<h3>Schedule</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">
					<img src="/static/img/intro03.png" alt="">
					<h3>Monitoring</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
	
	
	<section id="showcase" name="showcase"></section>
	<div id="showcase">
		<div class="container">
			<div class="row">
				<h1 class="centered">Some Screenshots</h1>
				<br>
				<div class="col-lg-8 col-lg-offset-2">
					<div id="carousel-example-generic" class="carousel slide">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					  </ol>
					
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      <img src="/static/img/iphoneDemo.png" alt="iPhone Demo" />
					    </div>
					    <div class="item">
					      <img src="/static/img/MacbookDemo.png" alt="Macbook Demo" />
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>	
		</div><!-- /container -->
	</div>	


	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-5">
				<h3>Address</h3>
				<p>
				104 Electric Ave.<br/>
				New York,<br/>
				13337<br/>
				United States
				</p>
			</div>
			
			<div class="col-lg-7">
				<h3>Drop Us A Line</h3>
				<br>
				<form role="form" action="#" method="post" enctype="plain"> 
				  <div class="form-group">
				    <label for="name1">Your Name</label>
				    <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
				  </div>
				  <div class="form-group">
				    <label for="email1">Email address</label>
				    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				  	<label>Your Text</label>
				  	<textarea class="form-control" name="Message" rows="3"></textarea>
				  </div>
				  <br>
				  <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
				</form>
			</div>
		</div>
	</div>
	<div id="c">
		<div class="container">
			<p>Theme from <a href="http://www.blacktie.co">BLACKTIE.CO</a></p>
		
		</div>
	</div>
{% endblock %}

