<!DOCTYPE html>
<html lang="en">

<head>
<!-- load libraries n stuff here -->
</head>

<body>
<script>
  var FBIsLoaded = false;
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '629423573836339',
      xfbml      : true,
      version    : 'v2.2'
    });
    FBIsLoaded = true;
    
    FB.getLoginStatus(function(response) {
    if (response.authResponse) {
        // logged in and connected user, someone you know
        FB.api('/me', {fields: 'last_name'}, function(response) {
  console.log(response);
});

    } else {
        // no user session available, someone you dont know
        alert("Not logged in");
    }
});
  };
  
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% block main %} {% endblock %}

</body>

</html>
